/* AboutMe.module.css */
.section {
  padding: 3rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 800px;
  font-family: 'Poppins', sans-serif;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.heading {
  margin-bottom: 30px;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  position: relative;
}

.heading::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  background-color: #0070f3;
  margin: 8px auto 0;
}

.content {
  margin-top: 20px;
  text-align: left;
  font-size: 1rem;
  line-height: 1.8;
}

.description {
  margin-bottom: 20px;
  line-height: 1.6;
}

.description h4 {
  font-weight: 600;
  margin-bottom: 10px;
  color: #0070f3;
}

.link {
  color: #0070f3;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: color 0.3s, border-bottom 0.3s;
}

.link:hover {
  color: #005bb5;
  border-bottom: 2px solid #005bb5;
}

/* Responsive styles */
@media (min-width: 768px) {
  .section {
    padding: 4rem 2rem;
  }

  .heading {
    font-size: 3rem;
  }

  .content {
    font-size: 1.125rem;
  }
}
