
.bannerLinks {
    position: absolute;
    top: 30%;
    right: 1.5rem;
    display: grid;
    justify-items: center;
    row-gap: 0.5rem;
    opacity: 0;
    visibility: hidden;
  }
  .bannerLinks > * {
    font-size: 1.25rem;
    line-height: 1.25;
    color: var(--color-white-100);
  }
  .bannerLinks::before {
    position: absolute;
    content: "";
    top: -3rem;
    width: 4rem;
    height: 1.5px;
    transform: rotate(90deg);
    background: var(--color-white-100);
  }
  .bannerLinks::after {
    position: absolute;
    content: "";
    bottom: -3rem;
    width: 4rem;
    height: 2px;
    transform: rotate(90deg);
    background: var(--color-white-100);
  }
  @media only screen and (min-width: 64rem) {
    .bannerLinks {
      opacity: 1;
      visibility: visible;
    }
  }